@font-face {
    font-family: inter;
    src: url(../assets/font/static/Inter-Medium.ttf);
}

@font-face {
    font-family: inter;
    src: url(../assets/font/static/Inter-Bold.ttf);
    font-weight: Bold;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    color: black;
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: #F1F1F1;
}

.img {
    width: 100%;
    height: 100px;
}

.navbar-info {
    display: flex;
    margin-right: 30px;
}

.navbar-item-link {
    margin: 0 10px;
    text-decoration: none;
    color: black;
}

#Search {
    height: 20px;
    margin: 0 10px;
}

.btn {
    height: 20px;
    padding: 2px;
    border: solid 1px black;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

/* section:main */
.flex-box {
    display: flex;
    justify-content: space-around;
}

.box {
    width: 400px;
    height: 115px;
    text-align: center;
    margin: 10px 20px !important;
    font-weight: 500;
    padding: 0px 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 0px 2px #999999;
}

.main {
    height: 100vh;
    overflow: hidden;

}

.main-left {
    margin-top: 10px;
    width: 100%;


}

.above-btn {
    position: relative;
    top: 100px;
    z-index: 1;
    display: flex;
    justify-content: space-between
}

.control-btn {
    margin-right: 40px;
}

.control-btn button {
    height: 50px;
    width: 220px;
    border-radius: 20px;
    border-style: none;
    margin-right: 36px;
}

.update_btn {
    cursor: pointer;
}
.search input {
    height: 50px;
    width: 300px;
    border-radius: 20px;
    border-style: none;
    padding-left: 36px;
    font-size: 24px;
}

::placeholder {
    padding-left: 0px;
}

.total {
    background-color: white;
}

.working {
    background-color: white;
}

.alert {
    background-color: white;
}

.number {
    margin-top: 20px;
    font-size: 55px;
    font-size: 28px;
}

.filter {
    margin-top: 10px;
    margin-left: 10px;
    width: 100%;
    padding: 5px;
}

#googleMap {
    margin: 0;
    height: 100%;
    width: 100%;
}

.text-move {
    margin-top: 20px;
    font-size: 28px;
}

.text {

}

#info {
    display: flex;
    position: relative;
    bottom: 200px;
    z-index: 1;
    margin-left: 10%;
    width: 80%;

}

.btn-door {
    margin-top: 10px;
    margin-left: 10px;
    width: 150px;
    height: 30px;
}

.btn-door:hover {
    background-color: white;
    cursor: pointer;
}

.main-right {

}

.main-right-filter {
    display: flex;
}

.main-content {
    margin-top: 74px;
}

.search {
    margin-left: 40px;
    height: 30px;
    margin-top: 0px;
}

.heart {
    background-color: white;
    margin: 10px 20px;
    cursor: pointer;
}

.heat {
    background-color: white;
    margin: 10px 0;
    cursor: pointer;
}

.C0 {
    background-color: white;
    margin: 10px 0;
    cursor: pointer;
}

.SPO2 {
    background-color: white;
    margin: 10px 0;
    cursor: pointer;
}

.btn-lightbulb {
    margin-top: 10px;
    margin-left: 10px;
    width: 70px;
    height: 30px;
    cursor: pointer;
}

.fa-lightbulb {
    font-size: 0.9rem;
}

.chart {
    margin-bottom: 500px;
    position: absolute;
    bottom: -350px;
    background-color: #fff4f8;
    width: 400px;
    height: 400px;
    display: none ;
    margin-left: -110px;
    border-radius: 16px;
}

.chart-click{
    display: block;
    margin-bottom: 500px;
    position: absolute;
    bottom: -350px;
    background-color: #fff4f8;
    width: 400px;
    height: 400px;
}
